@import './colors.scss';

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

.text-light {
  color: $color-white;
}

.subtext {
  font-style: italic;
  opacity: .75;
  opacity: .75;
}
